<!-- <h1>xD</h1> -->
<!-- navbar-dark hara que el color de la letra sea blanco  -->


<nav class="navbar navbar-dark bg-verde-oscuro navbar-expand-lg ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNavAltMarkup" >
    <!-- <div class="collapse navbar-collapse" id="navbarNavAltMarkup" > -->
      <div class="navbar-nav " >
      <!-- <div class="navbar-nav ms-auto" > -->
        <a class="navbar-brand" href="/">Pág. Principal</a>
        <a class="navbar-brand" href="#">Voluntarios</a>
        <a class="navbar-brand" href="#">Donaciones</a>
        <a class="navbar-brand" href="#">R. de Org. Benéfica</a>
        <a class="navbar-brand" href="#">R. de Org. Receptora</a>
      </div>
    </div>
  </div>
</nav>


<router-outlet />


<!-- Navbar text is dark and background is light -->
<!-- 
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
      Light color background
  </a>
</nav>

<nav class="navbar navbar-light bg-warning">
    <a class="navbar-brand" href="#">
      Warning color background
  </a>
</nav>


<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      Dark color background
  </a>
</nav>

<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="#">
      Primary color background
  </a>
</nav>

<nav class="navbar navbar-dark bg-secondary">
    <a class="navbar-brand" href="#">
      Secondary color background
  </a>
</nav>

<nav class="navbar navbar-dark bg-success">
    <a class="navbar-brand" href="#">
      Success color background
  </a>
</nav>

<div class="container">
    <h1 style="color: green">GeeksforGeeks</h1>
    <b>
      How to change navigation bar color in Bootstrap ?
  </b>
     
<p>The above navigation bars use some of the
      default color classes available in Bootstrap4.</p>

</div>

<button type="button" class="btn btn-primary">Primary</button> -->
