<!-- CABECERA CABECERA CABECERA CABECERA-->
<!-- CABECERA CABECERA CABECERA CABECERA-->
<!-- CABECERA CABECERA CABECERA CABECERA-->
<!-- CABECERA CABECERA CABECERA CABECERA-->
<app-nav/>
<!-- CABECERA CABECERA CABECERA CABECERA-->
<!-- CABECERA CABECERA CABECERA CABECERA-->
<!-- CABECERA CABECERA CABECERA CABECERA-->
<!-- CABECERA CABECERA CABECERA CABECERA-->

<router-outlet />


<!-- Navbar text is dark and background is light -->
<!-- 
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
      Light color background
  </a>
</nav>

<nav class="navbar navbar-light bg-warning">
    <a class="navbar-brand" href="#">
      Warning color background
  </a>
</nav>


<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      Dark color background
  </a>
</nav>

<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="#">
      Primary color background
  </a>
</nav>

<nav class="navbar navbar-dark bg-secondary">
    <a class="navbar-brand" href="#">
      Secondary color background
  </a>
</nav>

<nav class="navbar navbar-dark bg-success">
    <a class="navbar-brand" href="#">
      Success color background
  </a>
</nav>

<div class="container">
    <h1 style="color: green">GeeksforGeeks</h1>
    <b>
      How to change navigation bar color in Bootstrap ?
  </b>
     
<p>The above navigation bars use some of the
      default color classes available in Bootstrap4.</p>

</div>

<button type="button" class="btn btn-primary">Primary</button> -->
