
.ng-valid:not(form).ng-touched {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form).ng-touched {
  border-left: 5px solid #a94442; /* red */
}
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* Estilos personalizados para los botones */
/* .btn-custom {
  color: #ffffff; 
  background-color: #053c3f;
  border-color: #053c3f;
}

.btn-custom:hover {
  background-color: #032728; 
  border-color: #032728; 
} */

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

.bg-verde-oscuro {
    background-color: #053c3f;
}

.text-verde-oscuro {
    color: #053c3f;
}

.bg-verde-claro {
    background-color: #6ca40d;
}

.text-verde-claro {
    color: #6ca40d;
}

.bg-azul-raro {
    background-color: #209bab;
}

.text-azul-raro {
    color: #209bab;
}

.bg-blanco {
    background-color: #ffffff;
}

.text-blanco {
    color: #ffffff;
}


/* ANANANANANANANANA */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
  }
  /* .navbar {
    display: flex;
    justify-content: space-between;
    background-color: #f8f9fa;
    padding: 10px;
  }
  .navbar ul {
    list-style: none;
    display: flex;
  }
  .navbar ul li {
    padding: 10px;
  }
  .navbar a {
    text-decoration: none;
    color: #053c40;
  } */
  .hero-section {
    background: url('/assets/img/findito.png') no-repeat center center;
    background-size: cover;
    padding: 15%;
    color: #fff;
    text-align: center;
  }
  .hero-section h1 {
    color: #053c40;
    font-weight: bold;
  }
  /* .hero-section h3 {
    color: #053c40;
    font-weight: bold;
  } */
  .hero-section p {
    color: #6ca40d;
  }
  .donate-button {
    background-color: #1f9bab;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    border: none;
    cursor: pointer;
    font-size: 20px
  }
  .footer {
    background-color: #1f9bab;
    padding: 10%;
    text-align: center;
  }
  
  @keyframes slide {
    0% { transform: translateX(0); }
    10% { transform: translateX(0); }
  
    15% { transform: translateX(-100%); }
    30% { transform: translateX(-100%); }
  
    35% { transform: translateX(-200%); }
    50% { transform: translateX(-200%); }
  
    55% { transform: translateX(-300%); }
    70% { transform: translateX(-300%); }
  
    75% { transform: translateX(-400%); }
    90% { transform: translateX(-400%); }
  
    95% { transform: translateX(-500%); }
    100% { transform: translateX(-500%); }
  }
  
  * { box-sizing: border-box; }
  
  