
<!-- navbar-dark hara que el color de la letra sea blanco  -->


<nav class="navbar navbar-dark bg-verde-oscuro navbar-expand-lg ">
    <!-- <nav class="navbar navbar-expand-lg "> -->
    <div class="logo">
      <img src="/assets/img/logo.webp" width="90px">
    </div>
    <div class="container-fluid">
      <!-- barra -->
      <!-- <h1 class="textWhite titulo">
        Food Donation
      </h1> -->
      
      <h1 class="titulo textWhite">
        <!-- <a class="navbar-brand" routerLink="/" (click)="LogOut()">Food Donation</a> -->
        <a class="navbar-brand" routerLink="/" (click)="LogOut()">Food Donation</a>
      </h1>
      <a *ngIf="adminLoginOn" class="navbar-brand" >Bienvenido Administrador</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNavAltMarkup" >
      <!-- <div class="collapse navbar-collapse" id="navbarNavAltMarkup" > -->
        <div class="navbar-nav " >
        <!-- <div class="navbar-nav ms-auto" > -->
          <!-- <a class="navbar-brand" href="/">Pág. Principal</a> -->
          <!-- 
          <a class="navbar-brand" routerLink="voluntarios">Voluntarios</a>
          <a class="navbar-brand" routerLink="donaciones">Donaciones</a>
          <a class="navbar-brand" routerLink="reporgbenefica">R. de Org. Benéfica</a>
          <a class="navbar-brand" routerLink="reporgreceptora">R. de Org. Receptora</a>
            -->
          <a *ngIf="!usuarioLoginOn" class="navbar-brand" routerLink="solicitudusuario">Registrate</a>
          <a *ngIf="!usuarioLoginOn" class="navbar-brand" routerLink="login">Log in</a>
          <a *ngIf="usuarioLoginOn" class="navbar-brand" routerLink="/" (click)="pageLogOutUsuario()">Cerrar Sesion</a>
          <div *ngIf="usuarioLoginOn" class="btn-group">
            <div *ngIf="usuarioLoginOn" class="btn-group">

              
              <button type="button " class="btn btn-custom-verde_claro dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Información del sistema
              </button>
              <ul class="dropdown-menu dropdown-menu-end ">
                <li><button class="dropdown-item " type="button" routerLink="datavoluntarios" >Datos de Voluntarios</button></li>
                <li><button class="dropdown-item " type="button" routerLink="tabdonadores" >Datos de Donadores</button></li>
                <li><button class="dropdown-item " type="button" routerLink="tabreceptores" >Datos de Receptores</button></li>
                <li><button class="dropdown-item " type="button" routerLink="datadonacion" >Datos de Donaciones</button></li>
              </ul>
            </div>


            <div *ngIf="usuarioLoginOn" class="btn-group ">
              <button type="button " class="btn btn-custom-verde_claro dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                ¿Deseas colaborar?
              </button>
              <ul class="dropdown-menu dropdown-menu-end ">
                <li><button class="dropdown-item " type="button" (click)="enviarRolVoluntarioSol()" >Solicitud para ser Voluntario</button></li>
                <li><button class="dropdown-item " type="button" (click)="escogerSubRolVol('Responsable')" >Solicitud para ser Voluntario-Responsable</button></li>
                <li><button class="dropdown-item " type="button" (click)="escogerSubRolVol('Colaborador')" >Solicitud para ser Voluntario-Colaborador</button></li>
                <li><button class="dropdown-item " type="button" (click)="enviarRolDonadorSol()" >Solicitud para ser Donador</button></li>
                <li><button class="dropdown-item " type="button" (click)="enviarRolReceptorSol()" >Solicitud para ser Receptor</button></li>
                <li>
                  <!-- Button trigger modal -->
                  <button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Solicitud para Representante de Org. Benéfica
                  </button>
                </li>
                <li>
                  <!-- Button trigger modal -->
                  <button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                    Solicitud para Representante de Org. Receptora
                  </button>
                </li>
              </ul>
            </div>
            

            <div *ngIf="usuarioLoginOn" class="btn-group ">
              <button type="button " class="btn btn-custom-verde_claro dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                ¿Eres parte de nuestro sistema?
              </button>
              <ul class="dropdown-menu dropdown-menu-end ">
                <li><button class="dropdown-item" type="button" routerLink="pagevoluntario" >Página de Voluntario</button></li>
                <li><button class="dropdown-item" type="button" routerLink="pagevolColab" >Página de Voluntario-Colaborador</button></li>
                <li><button class="dropdown-item" type="button" routerLink="pagedonador" >Página de Donador</button></li>
                <li><button class="dropdown-item" type="button" routerLink="pagebeneficiario" >Página de Receptor</button></li>
              </ul>
            </div>
            
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Llenar los datos para sel el representante de la Org. Benéfica</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div class="container">
                        <form [formGroup]="formSolRepOrgBenefica" (ngSubmit)="enviarFormSolRepOrgBenefica()">
                        
                            <div class="mb-3">
                                <label for="area_servicio" class="form-label">Área de Servicio</label>
                                <input type="text" class="form-control" id="area_servicio" formControlName="area_servicio">
                            </div>
                            <div class="mb-3">
                                <label for="tipo_a" class="form-label">Tipo de Alimento</label>
                                <input type="text" class="form-control" id="tipo_a" formControlName="tipo_a">
                            </div>
                            <div class="mb-3">
                                <label for="ubicacion" class="form-label">Ubicación</label>
                                <input type="text" class="form-control" id="ubicacion" formControlName="ubicacion">
                            </div>
                            <div class="mb-3">
                                <label for="nombre_org" class="form-label">Nombre de la organización</label>
                                <input type="text" class="form-control" id="nombre_org" formControlName="nombre_org">
                            </div>
                            


                            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Enviar</button>
                        </form>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Llenar los datos para sel el representante de la Org. Receptora</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-body">
                      <div class="container">
                          <form [formGroup]="formSolRepOrgReceptora" (ngSubmit)="enviarFormSolRepOrgReceptora()">
                              <div class="mb-3">
                                  <label for="nombre_org" class="form-label">Nombre de la organización</label>
                                  <input type="text" class="form-control" id="nombre_org" formControlName="nombre_org">
                              </div>
                          
                              <div class="mb-3">
                                  <label for="tipo_org" class="form-label">Tipo de organización (S.A., S.R.L., ...)</label>
                                  <input type="text" class="form-control" id="tipo_org" formControlName="tipo_org">
                              </div>
                              <div class="mb-3">
                                  <label for="ubicacion" class="form-label">Ubicación</label>
                                  <input type="text" class="form-control" id="ubicacion" formControlName="ubicacion">
                              </div>
                              
  
  
                              <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Enviar</button>
                          </form>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                  </div>
                </div>
              </div>
            </div>


          </div>
          <!-- <a *ngIf="usuarioLoginOn" class="navbar-brand" routerLink="/">Cerrar Sesion</a> -->
          <!-- <h1>{{adminLoginOn}}</h1> -->
        </div>
      </div>
    </div>
</nav>