<!-- <p>page-voluntario works!</p> -->
<h1>Alimento y Productos para recoger</h1>
<button type="button" class="btn btn-custom-azul" (click)="urlGetDonNoRealizadas()">Recargar</button>
<div *ngIf="tblUrlGetDonacionesNoRealizadasSinResponsable">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#id</th>
        <th scope="col">NombreU</th>
        <th scope="col">ApellidoU</th>
        <th scope="col">FonoU</th>
        <th scope="col">Ctd</th>
        <th scope="col">A/p</th>
        <th scope="col">FechaHoraProg</th>
        <th scope="col">Estado</th>
        <!-- <th scope="col">MailResp.</th> -->
        <th scope="col">#ColReq</th>
        <th scope="col">#Col</th>
        <th scope="col">¿Ser Responsable?</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let elementA of tblUrlGetDonacionesNoRealizadasSinResponsable">
        <th scope="row">{{elementA.idDonacion}}</th>
        <td>{{elementA.nombreU}}</td>
        <td>{{elementA.apellidoU}}</td>
        <td>{{elementA.telefonoU}}</td>
        <td>{{elementA.cantidad}}</td>
        <td>{{elementA.tipo_ap}}</td>
        <td>{{elementA.fechaHoraProg}}</td>
        <td>{{elementA.estado}}</td>
        <!-- <td>{{elementA.correoResponsable}}</td> -->
        <td>{{elementA.nroRequeridoCol}}</td>
        <td>{{elementA.nroColaboradores}}</td>
        <td>
          

          <button (click)="setCurrentID(elementA.idDonacion)" type="button" class="btn btn-custom"
            data-bs-toggle="modal" data-bs-target="#ModalRecogerAlimento">
            Ser Responsable
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="modal fade" id="ModalRecogerAlimento" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Establece el numero de colaboradores</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
            <form [formGroup]="formColaboresAlimentoRecoger" (ngSubmit)="serResponsableRecoger()">
            
                <div class="mb-3">
                    <label for="cantidad" class="labelCustom">Cantidad de colaboradores</label>
                    <input type="number" class="form-control" id="cantidad" formControlName="cantidad">
                </div>
                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Enviar</button>
            </form>
        </div>
        
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div> -->
    </div>
  </div>
</div>
<h1>Alimento y Productos para distribuir</h1>
<button type="button" class="btn btn-custom-azul" (click)="urlGetDonNoRealizadas()">Recargar</button>
<div *ngIf="tblUrlGetDonacionesNoRealizadasSinResponsable">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#id</th>
        <th scope="col">NombreU</th>
        <th scope="col">ApellidoU</th>
        <th scope="col">FonoU</th>
        <th scope="col">Ctd</th>
        <th scope="col">A/p</th>
        <th scope="col">FechaHoraProg</th>
        <th scope="col">Estado</th>
        <!-- <th scope="col">MailResp.</th> -->
        <th scope="col">#ColReq</th>
        <th scope="col">#Col</th>
        <th scope="col">¿Ser Responsable?</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let elemRep of tblGetAllSolicitudBSinResponsable">
        <th scope="row">{{elemRep.idSolicitud}}</th>
        <td>{{elemRep.nombreU}}</td>
        <td>{{elemRep.apellidoU}}</td>
        <td>{{elemRep.telefonoU}}</td>
        <td>{{elemRep.cantidad}}</td>
        <td>{{elemRep.tipo_ap}}</td>
        <td>{{elemRep.fechaHoraProg}}</td>
        <td>{{elemRep.estado}}</td>
        <!-- <td>{{elementA.correoResponsable}}</td> -->
        <td>{{elemRep.nroRequeridoCol}}</td>
        <td>{{elemRep.nroColaboradores}}</td>
        <td>
          

          <button (click)="setCurrentID(elemRep.idSolicitud)" type="button" class="btn btn-custom"
            data-bs-toggle="modal" data-bs-target="#ModalEntregarAlimento">
            Ser Responsable2
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="modal fade" id="ModalEntregarAlimento" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Establece el numero de colaboradores</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
            <form [formGroup]="formColaboresAlimentoRecoger" (ngSubmit)="serResponsableEntregar()">
            
                <div class="mb-3">
                    <label for="cantidad" class="labelCustom">Cantidad de colaboradores</label>
                    <input type="number" class="form-control" id="cantidad" formControlName="cantidad">
                </div>
                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Enviar</button>
            </form>
        </div>
        
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div> -->
    </div>
  </div>
</div>


<!-- <h1>Producto para recoger</h1>
<div *ngIf="tblProductoRecoger">
  <button type="button" class="btn btn-custom-azul" (click)="displayProductoRecoger()">Recargar</button>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#IDBD</th>
        <th scope="col">Estado</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Tipo</th>
        <th scope="col">¿Ser Responsable?</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tblEleAR of tblProductoRecoger">
        <th scope="row">{{tblEleAR.id_producto}}</th>
        <td>{{tblEleAR.estado}}</td>
        <td>{{tblEleAR.cantidad}}</td>
        <td>{{tblEleAR.tipo}}</td>
        <td>


          <button (click)="setCurrentID(tblEleAR.id_producto)" type="button" class="btn btn-custom"
            data-bs-toggle="modal" data-bs-target="#ModalRecogerProducto">
            Quiero ser Responsable de esta Actividad
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="modal fade" id="ModalRecogerProducto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Establece el numero de colaboradores</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
            <form [formGroup]="formColaboresAlimentoRecoger" (ngSubmit)="enviarFormRecogerProducto()">
            
                <div class="mb-3">
                    <label for="cantidad" class="labelCustom">Cantidad de colaboradores P</label>
                    <input type="number" class="form-control" id="cantidad" formControlName="cantidad">
                </div>
                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Enviar</button>
            </form>
        </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> -->
