
<div class="container">
    <form [formGroup]="formularioSolicitudUsuario" (ngSubmit)="enviarFormSolUsuario()">
        <!-- <div class="row"> -->

        <div class="mb-3 col">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="NOMBRE" formControlName="nombre">
        </div>

        <div class="mb-3 col">
            <label for="apellido" class="form-label">Apellido</label>
            <input type="text" class="form-control" id="APELLIDO" formControlName="apellido">
        </div>

        <!-- </div> -->

        <!-- <div class="row g-3"> -->
        <div class="mb-3 col">
            <label for="Contrasena" class="form-label">Contraseña (Ten en cuenta el contenido para el Log In)</label>
            <input type="password" class="form-control" id="CONTRASENA" formControlName="password">
        </div>

        <!-- <div class="mb-3 col">
                <label for="confContrasena" class="form-label">Confimación de Contraseña</label>
                <input type="password" class="form-control" id="CONFCONTRASENA" formControlName="conf_contrasena">
            </div> -->
        <!-- </div>  -->

        <div class="mb-3">
            <label for="correo" class="form-label">Correo (Ten en cuenta el contenido para el Log In)</label>
            <input type="email" class="form-control" id="CORREO" formControlName="correo">
        </div>

        <div class="mb-3">
            <label for="confContrasena" class="form-label">Telefono</label>
            <input type="tel" class="form-control" id="CONFCONTRASENA" formControlName="telefono">
        </div>



        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>