
<div class="hero-section" >
  <h1>Alimentando Sueños, Nutriendo Comunidades: ¡Juntos, Hacemos la Diferencia!</h1>
  <p>En nuestro compromiso por construir un mundo más solidario y justo, cada donación de alimentos es un paso hacia adelante, un rayo de esperanza que ilumina el camino hacia un futuro donde todas las comunidades, sin importar su origen o circunstancias, puedan prosperar y alcanzar su máximo potencial.</p>
  
  <!-- <button class="donate-button">Dona Ya!</button> -->
</div>
<div class="footer" id="sobre nosotros">
  <h3>Sobre nosotros</h3>
  <p>Nuestro sistema de donación de alimentos trabaja en estrecha colaboración con organizaciones benéficas locales para recolectar alimentos excedentes de establecimientos comerciales, agricultores y otros proveedores. Luego, clasificamos y distribuimos estos alimentos a través de una red de puntos de distribución estratégicamente ubicados, que incluyen comedores comunitarios, refugios para personas sin hogar, escuelas y otras instituciones benéficas.

    Además de la distribución directa de alimentos, también nos comprometemos a educar a la comunidad sobre la importancia de reducir el desperdicio de alimentos y fomentar prácticas alimentarias sostenibles. Trabajamos para sensibilizar sobre el impacto del hambre y el desperdicio de alimentos en nuestra sociedad, promoviendo la participación activa de individuos y empresas en nuestra misión.
    
    Nuestro sistema de donación de alimentos se basa en principios de transparencia, eficiencia y colaboración, y buscamos constantemente formas innovadoras de mejorar nuestros procesos para maximizar el alcance de nuestra ayuda y minimizar nuestro impacto ambiental.
  </p>

  <div class="container">
    <div class="slider">
        <div class="slide mission">
            <div class="content">
                <h2>Misión</h2>
                <p>Facilitar el acceso equitativo a alimentos nutritivos y de calidad para aquellos que más lo necesitan, al mismo tiempo que reducimos el desperdicio de alimentos y promovemos la solidaridad comunitaria.</p>
            </div>
            <img src="assets/img/img1.webp" alt="Imagen Misión">
        </div>
        <div class="slide mision">
            <div class="content">
                <h2>Visión</h2>
                <p>Ser líderes en la creación de un sistema de donación de alimentos eficiente y sostenible, que garantice que ninguna persona pase hambre en nuestras comunidades, al tiempo que fomentamos una cultura de responsabilidad ambiental y solidaridad.</p>
            </div>
            <img src="assets/img/img2.webp" alt="Imagen Visión">
        </div>
    </div>
</div> 
  


  <!-- <div class="wrapper">
    <div class="slider" id="slider">
      <ul class="slides">
        <li class="slide" id="slide1">
          <a href="#">
            <p class="caption">Sobre nosotros</p>
            <img src="img/mision.webp" width="50x" alt="photo 1">
          </a>
        </li>
        <li class="slide" id="slide2">
          <a href="#">
            <p class="caption">Texto llamativo</p>
            <img src="photo2.jpg" alt="photo 2">
          </a>
        </li>
        <li class="slide" id="slide3">
          <a href="#">
            <p class="caption">Texto llamativo</p>
            <img src="photo3.jpg" alt="photo 3">
          </a>
      </ul>
      <ul class="slider-controler">
        <li><a href="#slide1">&bullet;</a></li>
        <li><a href="#slide2">&bullet;</a></li>
        <li><a href="#slide3">&bullet;</a></li>
      </ul>
    </div>
  </div>
   -->
</div>