
<div class="hero-section" >
    <br>
    <br/>
    <br/>
    <br/>
    <br/>
    <h1>Alimentando Sueños, Nutriendo Comunidades: ¡Juntos, Hacemos la Diferencia!</h1>
    <p>En nuestro compromiso por construir un mundo más solidario y justo, cada donación de alimentos es un paso hacia adelante, un rayo de esperanza que ilumina el camino hacia un futuro donde todas las comunidades, sin importar su origen o circunstancias, puedan prosperar y alcanzar su máximo potencial.</p>
    
    <!-- <button class="donate-button">Dona Ya!</button> -->
    <br>
    <br>
    <br>
    <br>
  </div>
  <div class="footer" id="sobre nosotros">
    <h3>Sobre nosotros</h3>
    <p>Nuestro sistema de donación de alimentos trabaja en estrecha colaboración con organizaciones benéficas locales para recolectar alimentos excedentes de establecimientos comerciales, agricultores y otros proveedores. Luego, clasificamos y distribuimos estos alimentos a través de una red de puntos de distribución estratégicamente ubicados, que incluyen comedores comunitarios, refugios para personas sin hogar, escuelas y otras instituciones benéficas.
  
      Además de la distribución directa de alimentos, también nos comprometemos a educar a la comunidad sobre la importancia de reducir el desperdicio de alimentos y fomentar prácticas alimentarias sostenibles. Trabajamos para sensibilizar sobre el impacto del hambre y el desperdicio de alimentos en nuestra sociedad, promoviendo la participación activa de individuos y empresas en nuestra misión.
      
      Nuestro sistema de donación de alimentos se basa en principios de transparencia, eficiencia y colaboración, y buscamos constantemente formas innovadoras de mejorar nuestros procesos para maximizar el alcance de nuestra ayuda y minimizar nuestro impacto ambiental.
    </p>
  
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="2500">
          <img src="assets/img/img1.webp" class="d-block w-100" alt="..." width="350px" height="300px">
        </div>
        <div class="carousel-item" data-bs-interval="2500">
          <img src="assets/img/img2.webp" class="d-block w-100" alt="..." width="350px" height="300px">
        </div>
        <div class="carousel-item" data-bs-interval="2500">
          <img src="assets/img/mision.webp" class="d-block w-100" alt="..." width="350px" height="300px">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  
  
    
  
  
    <!-- <div class="wrapper">
      <div class="slider" id="slider">
        <ul class="slides">
          <li class="slide" id="slide1">
            <a href="#">
              <p class="caption">Sobre nosotros</p>
              <img src="img/mision.webp" width="50x" alt="photo 1">
            </a>
          </li>
          <li class="slide" id="slide2">
            <a href="#">
              <p class="caption">Texto llamativo</p>
              <img src="photo2.jpg" alt="photo 2">
            </a>
          </li>
          <li class="slide" id="slide3">
            <a href="#">
              <p class="caption">Texto llamativo</p>
              <img src="photo3.jpg" alt="photo 3">
            </a>
        </ul>
        <ul class="slider-controler">
          <li><a href="#slide1">&bullet;</a></li>
          <li><a href="#slide2">&bullet;</a></li>
          <li><a href="#slide3">&bullet;</a></li>
        </ul>
      </div>
    </div>
     -->
  </div>