<div class="hero-section">
  <h1>
    Alimentando Sueños, Nutriendo Comunidades: ¡Juntos, Hacemos la Diferencia!
  </h1>
  <p>
    En nuestro compromiso por construir un mundo más solidario y justo, cada
    donación de alimentos es un paso hacia adelante, un rayo de esperanza que
    ilumina el camino hacia un futuro donde todas las comunidades, sin importar
    su origen o circunstancias, puedan prosperar y alcanzar su máximo potencial.
  </p>

  <!-- <button class="donate-button">Dona Ya!</button> -->
</div>
<div class="footer" id="sobre nosotros">
  <h3>Sobre nosotros</h3>
  <p>
    Nuestro sistema de donación de alimentos trabaja en estrecha colaboración
    con organizaciones benéficas locales para recolectar alimentos excedentes de
    establecimientos comerciales, agricultores y otros proveedores. Luego,
    clasificamos y distribuimos estos alimentos a través de una red de puntos de
    distribución estratégicamente ubicados, que incluyen comedores comunitarios,
    refugios para personas sin hogar, escuelas y otras instituciones benéficas.
    Además de la distribución directa de alimentos, también nos comprometemos a
    educar a la comunidad sobre la importancia de reducir el desperdicio de
    alimentos y fomentar prácticas alimentarias sostenibles. Trabajamos para
    sensibilizar sobre el impacto del hambre y el desperdicio de alimentos en
    nuestra sociedad, promoviendo la participación activa de individuos y
    empresas en nuestra misión. Nuestro sistema de donación de alimentos se basa
    en principios de transparencia, eficiencia y colaboración, y buscamos
    constantemente formas innovadoras de mejorar nuestros procesos para
    maximizar el alcance de nuestra ayuda y minimizar nuestro impacto ambiental.
  </p>

  <div class="container">
    <div class="slider">
      <div class="slide mission">
        <div class="content">
          <h2>Misión</h2>
          <p>
            Facilitar el acceso equitativo a alimentos nutritivos y de calidad
            para aquellos que más lo necesitan, al mismo tiempo que reducimos el
            desperdicio de alimentos y promovemos la solidaridad comunitaria.
          </p>
        </div>
        <img src="assets/img/img1.webp" alt="Imagen Misión" />
      </div>
      <div class="slide mision">
        <div class="content">
          <h2>Visión</h2>
          <p>
            Ser líderes en la creación de un sistema de donación de alimentos
            eficiente y sostenible, que garantice que ninguna persona pase
            hambre en nuestras comunidades, al tiempo que fomentamos una cultura
            de responsabilidad ambiental y solidaridad.
          </p>
        </div>
        <img src="assets/img/img2.webp" alt="Imagen Visión" />
      </div>
    </div>
  </div>
</div>

<!-- <div class="container-fluid my-5">
  <footer
          class="text-center text-lg-start text-dark"
          style="background-color: #ECEFF1"
          >
    <section
             class="d-flex justify-content-between p-4 text-white"
             style="background-color: #21D192"
             >
      <div class="me-5">
        <span>Get connected with us on social networks:</span>
      </div>
      <div>
        <a href="" class="text-white me-4">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-github"></i>
        </a>
      </div>
    </section>
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold">Company name</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p>
              Here you can use rows and columns to organize your footer
              content. Lorem ipsum dolor sit amet, consectetur adipisicing
              elit.
            </p>
          </div>
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold">Products</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p>
              <a href="#!" class="text-dark">MDBootstrap</a>
            </p>
            <p>
              <a href="#!" class="text-dark">MDWordPress</a>
            </p>
            <p>
              <a href="#!" class="text-dark">BrandFlow</a>
            </p>
            <p>
              <a href="#!" class="text-dark">Bootstrap Angular</a>
            </p>
          </div>
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold">Useful links</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p>
              <a href="#!" class="text-dark">Your Account</a>
            </p>
            <p>
              <a href="#!" class="text-dark">Become an Affiliate</a>
            </p>
            <p>
              <a href="#!" class="text-dark">Shipping Rates</a>
            </p>
            <p>
              <a href="#!" class="text-dark">Help</a>
            </p>
          </div>
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <h6 class="text-uppercase fw-bold">Contact</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p><i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
            <p><i class="fas fa-envelope mr-3"></i> infoexample.com</p>
            <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
            <p><i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
          </div>
        </div>
      </div>
    </section>
    <div
         class="text-center p-3"
         style="background-color: rgba(0, 0, 0, 0.2)"
         >
      © 2020 Copyright:
      <a class="text-dark" href="https://mdbootstrap.com/"
         >MDBootstrap.com</a
        >
    </div>
  </footer>
</div> -->