<!-- <p>datos-usuario works!</p> -->


<!-- <div *ngIf="userLoginOn">
    <p>ID: {{currentUser?.id}}</p>
    <p>Nombre: {{currentUser?.nombre}}</p>
    <p>apellido: {{currentUser?.apellido}}</p>
    <p>Correo: {{currentUser?.correo}}</p>
    <p>Telefono: {{currentUser?.telefono}}</p>
    <p>Nombre: {{currentUser?.id}}</p>

</div> -->


<div *ngIf="userLoginOn">
    <p>Nro. Org.: {{currentRaro?.idorganizacion}}</p>
    <p>Mision: {{currentRaro?.mision}}</p>
    <p>Vision: {{currentRaro?.vision}}</p>
    <p>Actividad: {{currentRaro?.quehacemos}}</p>
</div>
<p>Te logeaste maestro</p>