<!-- <p>page-donador works!</p> -->

<div class="hero-section">
  <br />
  <br />
  <br />
  <br />
  <br />
  <h1>
    Alimentando Sueños, Nutriendo Comunidades: ¡Juntos, Hacemos la Diferencia!
  </h1>
  <p>
    En nuestro compromiso por construir un mundo más solidario y justo, cada
    donación de alimentos es un paso hacia adelante, un rayo de esperanza que
    ilumina el camino hacia un futuro donde todas las comunidades, sin importar
    su origen o circunstancias, puedan prosperar y alcanzar su máximo potencial.
  </p>

  <!-- <button class="donate-button">Dona Ya!</button> -->
  <!-- <button type="button" class="btn btn-custom-azul btn-lg" (click)="formDonacion()">Dona Ya!</button> -->

  <!-- Button trigger modal -->
  <button
    type="button"
    class="btn btn-custom-azul btn-lg"
    data-bs-toggle="modal"
    data-bs-target="#pageDonadorModal"
  >
    Dona Ya!
  </button>

  <!-- Modal -->
  <div
    class="modal fade"
    id="pageDonadorModal"
    tabindex="-1"
    aria-labelledby="pageDonadorModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="pageDonadorModalLabel">
            Ingrese los datos de la donación
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            (click)="noenviar()"
          ></button>
        </div>
        <div class="modal-body">
          <div class="container">
            <form [formGroup]="donacionForm" (ngSubmit)="enviarFormDonacion()">
              <!-- <div class="mb-3">
                <label for="cantidad" class="labelCustom">Cantidad</label>
                <input
                  type="number"
                  class="form-control"
                  id="cantidad"
                  formControlName="cantidad"
                />
              </div> -->
              <div class="mb-3">
                <label for="fechaHoraRecogida" class="labelCustom"
                  >Hora Disponible para el recojo</label
                >
                <input
                  type="datetime-local"
                  class="form-control"
                  id="fechaHoraRecogida"
                  formControlName="fechaHoraRecogida"
                />
              </div>
              <!-- <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="tipo_ap"
                  formControlName="tipo_ap"
                  [value]="'Alimento'"
                  (change)="actualizarTipoDonacion('Alimento')"
                  [checked]="tipodonacion === 'Alimento'"
                />
                <label
                  class="form-check-label labelCustom"
                  for="exampleRadios1"
                >
                  Alimento
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="tipo_ap"
                  formControlName="tipo_ap"
                  [value]="'Producto'"
                  (change)="actualizarTipoDonacion('Producto')"
                  [checked]="tipodonacion === 'Producto'"
                />
                <label
                  class="form-check-label labelCustom"
                  for="exampleRadios2"
                >
                  Producto
                </label>
              </div> -->
              <!-- innv -->
              <button
                id="miBoton"
                type="submit"
                class="btn btn-primary"
                data-bs-dismiss="modal"
                disabled
                (click)="prueba()"
              >
                Enviar
              </button>
            </form>
            <br />
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">Producto</span>
              <input
                type="text"
                [(ngModel)]="nombreProducto"
                placeholder="Nombre del producto"
                class="form-control"
              />
              <br />
            </div>
            <button
              class="btn btn-custom-azul"
              *ngIf="nombreProducto"
              (click)="anadirProducto()"
            >
              {{ "Agregar " + nombreProducto }}
            </button>

            <div class="container" *ngIf="newProductos">
              <!-- <h1>Producos</h1> -->
              <!-- <button
                type="button"
                class="btn btn-custom-azul"
                (click)="urlGetDonNoRealizadas()"
              >
                Recargar
              </button> -->

              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Producto</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Agregar</th>
                    <th scope="col">Reducir</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let ma of newProductos">
                    <th scope="row">{{ ma.nombre }}</th>
                    <td>{{ ma.cantidad }}</td>
                    <td>
                      <button
                        type="button"
                        class="btn btn-custom-azul"
                        (click)="agregarProducto(ma.nombre)"
                      >
                        Agregar
                      </button>
                    </td>
                    <td>
                      <button
                        type="button"
                        class="btn btn-custom-azul"
                        (click)="reducirProducto(ma.nombre)"
                      >
                        Reducir
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <google-map
            height="250px"
            width="460px"
            [center]="center"
            [zoom]="zoom"
            (mapClick)="addmarker($event)"
          >
            <map-marker
              *ngFor="let markerPosition of markerPositions"
              [position]="markerPosition"
              [options]="markerOptions"
              [label]="label"
            >
            </map-marker>
          </google-map>

          <!-- <div>Latitude: {{display?.lat}}</div>
          <div>Longitude: {{display?.lng}}</div> -->
        </div>
        <div class="container">
          <button
            type="submit"
            class="btn btn-primary"
            data-bs-dismiss="modal"
            (click)="prueba()"
          >
            Enviar
          </button>

        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
            (click)="prueba()"
          >
            Cerrar
          </button>
          <!-- <button type="button" class="btn btn-primary">Enviar</button> -->
        </div>
      </div>
    </div>
  </div>

  <br />
  <br />
  <br />
  <br />
</div>
<div class="footer" id="sobre nosotros">
  <h3>Sobre nosotros</h3>
  <p>
    Nuestro sistema de donación de alimentos trabaja en estrecha colaboración
    con organizaciones benéficas locales para recolectar alimentos excedentes de
    establecimientos comerciales, agricultores y otros proveedores. Luego,
    clasificamos y distribuimos estos alimentos a través de una red de puntos de
    distribución estratégicamente ubicados, que incluyen comedores comunitarios,
    refugios para personas sin hogar, escuelas y otras instituciones benéficas.
    Además de la distribución directa de alimentos, también nos comprometemos a
    educar a la comunidad sobre la importancia de reducir el desperdicio de
    alimentos y fomentar prácticas alimentarias sostenibles. Trabajamos para
    sensibilizar sobre el impacto del hambre y el desperdicio de alimentos en
    nuestra sociedad, promoviendo la participación activa de individuos y
    empresas en nuestra misión. Nuestro sistema de donación de alimentos se basa
    en principios de transparencia, eficiencia y colaboración, y buscamos
    constantemente formas innovadoras de mejorar nuestros procesos para
    maximizar el alcance de nuestra ayuda y minimizar nuestro impacto ambiental.
  </p>

  <div
    id="carouselExampleAutoplaying"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2500">
        <img
          src="assets/img/img1.webp"
          class="d-block w-100"
          alt="..."
          width="350px"
          height="300px"
        />
      </div>
      <div class="carousel-item" data-bs-interval="2500">
        <img
          src="assets/img/img2.webp"
          class="d-block w-100"
          alt="..."
          width="350px"
          height="300px"
        />
      </div>
      <div class="carousel-item" data-bs-interval="2500">
        <img
          src="assets/img/mision.webp"
          class="d-block w-100"
          alt="..."
          width="350px"
          height="300px"
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<!--  -->
